/*Joshua Benjamín Pedraza Castro SMR 2B*/
.JBPC{
    font-size: 25px;
    color: white;
    font-style: italic;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bolder;

}

.Contenedor{
    background-color: black;
    margin-bottom: 25px;
    position: sticky;
    z-index: 100;
    top: 0;
}


a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(168, 168, 168);
}
body{
    background-image: url(/imagenes/abstract-background-design-background-texture-design-with-abstract-style-creative-illustration-for-advertising-posters-business-cards-flyers-websites-banners-covers-landings-pages-etc-vector.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

