/*Joshua Benjamín Pedraza Castro SMR 2B*/
legend{
    font-size: xx-large;
}
fieldset{
    border: black 1px solid;
    width: 70%;
    
}
.imput{
    text-align: left;
    color: black;
    font-size: large;
    padding: 20px;
}
textarea{
    width: 100%;
    height: 200px;
}